NORFOLK

January 2023

CONSTABULARY

Our Priority is You

SEX OFFENDERS REGISTRATION FORM

Under the Sexual Offences Act 2003 a person MUST notify the police within 3 days of the
caution, conviction or finding (or, if he is in custody or otherwise detained, 3 days from his
release) of:
1.

Date of birth.

2.

National Insurance number.

3.

Name and any other names used on the date of conviction, caution etc. and on the date

of notification (this includes any usernames
/ profile names / gaming tags / email
addresses used online that is not their actual name).
4.

Home address on the date of conviction, caution etc. and on the date of notification. This
means the offender’s sole or main residence in the United Kingdom.

5.

The address of any other premises in the United Kingdom which, at the time of
notification, the offender regularly resides or stays.

6.

Where the offender has no such residence, the location of a place in the United Kingdom,
where they can regularly be found and if there is more than one such place, such one of
those places as the person may select. Therefore, an offender cannot simply register as

‘no fixed abode’ (although the term ‘regularly’ has not been defined).
7.

Any household or other private place they reside at or stay at for at least 12 hours where
an under 18-year-old resides or stays.

8.

Passport, bank account, and any debit or credit card details (including joint and business
accounts).

** You MUST re-confirm your details every year from the date of
your last notification.**
**If you are of ‘no fixed abode’ you MUST re-notify your details
every 7 days.**

January 2023

Changes to Notified details
Should any of the above details change, you MUST notify the police of that change within 3
days. These changes can be made in advance. That means you MUST:

1.

Notify the police of any changes to or new names you adopt (including any usernames /
profile names / gaming tags / email addresses used online) within 3 days.

2.

Notify the police of any changes to your primary address within 3 days.

3.

Notify the police of any address where you reside or stay at for 7 days or longer. This
means either 7 days at a time, or a total of 7 days in any 12-month period, within 3 days.

4.

Notify police of any new or changes to; passport, credit card, debit card and bank account
details with Police within 3 days of any change.

(Note that a new bank card, even to replace an expired card also needs to be notified within 3
days of receipt)

5.

Notify the police of any new household or other private place you reside at or stay at for
at least 12 hours where an under 18-year-old resides or stays within 3 days.

**When you change your notified details with police, your annual re-notification
will take place 12 months from this date**

** For advance notification if the change takes place more than two days before the
anticipated date, the police must be informed. If an advance notification is made
and the change has not taken place within three days beginning with the

anticipated date, the police must be informed within six days of the anticipated
date**

Foreign travel

You MUST register all foreign travel in person, at a specified police station, no less than seven
days prior to departure. The details required (if he holds such information except in relation
to the first and second bullets which apply in every case) are:
« the date of departure from the United Kingdom.
¢ the destination country.
¢ the point of arrival in that country.

¢ the points of arrival in any other countries being visited.
e dates of intended stay in any country being visited.

¢ the identify of carrier(s) you intend to use to leave and return to the United Kingdom, or to
travel to any other point(s) of arrival outside the United Kingdom.

* details of the accommodation arrangements in any country being visited.
¢ date of return to the United Kingdom.

¢ point of arrival on return to the United Kingdom.

**Foreign travel notification will NOT change the date of you annual renotification
with police**

January 2023

Where can | notify my details?
You can only give this notification by attending a police station prescribed for the purpose by
regulations. (The regulations will be periodically updated when the addresses of police
stations change). The prescribed police stations in the Norfolk Constabulary area are:

NORWICH

GREAT YARMOUTH

KINGS LYNN

Bethel Street

Howard Street North

St James Street

Norwich

Great Yarmouth

Kings Lynn

NR2 1NN

NR30 1PH

PE30 SDE

Mon-Wed: 0900-1700

Mon-Wed: 0900-1700

Mon-Wed: 0900-1700

Thurs - Sat:0900-1800 Sun:CLOSED | Thurs -Sat:0900-1800 Sun:CLOSED | Thurs - Sat:0900-1800 Sun:CLOSED

**Closed on Bank Holidays**

**Closed on Bank Holidays**

**Closed on Bank Holidays**

What happens if | breach my notification requirements?

Section 91 of the Act provides that a person who is subject to the notification requirements commits a
criminal offence if that person fails, without reasonable excuse, to:
¢ Make an initial notification in accordance with section 83(1).
¢ Notify a change of details in accordance with section 84(1).

¢ Make an annual re-notification in accordance with section 85(1).
¢ Comply with any requirement imposed by regulations in relation to the notification of foreign travel under
section 86(1).
* Notify the fact that a change did not happen as predicted when it had been notified in advance in
accordance with section 84(4)(b).
¢ Allow a police officer to take their photograph or fingerprints (section 87(4)).
In the first four cases set out above if the offender knowingly provides false information.

An offender convicted of such an offence on summary conviction (in the magistrates’ court) will be liable to a
term of imprisonment of up to six months or to a fine or both; an offender convicted on indictment (in the
Crown Court) will be liable to a term of imprisonment of up to five years

**1f at any time you need any advice or assistance with you notification requirements, please
contact the Norfolk Constabulary Public Protection Unit on 01603 276322, or ring 101.**

January 2023

| have received a copy of this form and had the contents explained to me. | understand the
content and aware of the consequences of not adhering to them. | understand that Police will
keep records relating to me, and that details can be shared with other agencies if it is for the
purpose of detecting or preventing crime. | am aware that it is my responsibility to adhere to

these requirements and that | must contact Norfolk Public Protection Unit if | need any advice
or assistance.

| have been advised that whist | am managed by Norfolk Public Protection Unit, ! will be subject
to unannounced visits and only in exceptional circumstances will an appointment be made for

a visit.

Name

Signature

Date

Issued by:
Name

Signature

Date

